<%- include('partials/header'); -%>

<h1>Home</h1>
<p> <%= ejsHome %> </p>

<%ejsBlogTitle.forEach(function(title, index){%>
<h1><%= title %></h1>
<p><%= ejsBlogBody[index] %><a href="/posts/<%=title%>" >Read More!</a></p>
<%console.log(title);%>
<%})%>

<%- include('partials/footer'); -%>
